{% extends "base.html" %}
{% block content %}

  <div class="wrapper">
    <header>
      <h3>{{ config.title }}</h3>

      <p>{{ config.description }}</p>

      <br>
      {%- if config.extra.douban -%}
      <a href=" {{ config.extra.douban }} "><img alt="douban" height="32" width="32" src="{{ get_url(path="/imgs/douban.svg", trailing_slash=false) }}"></a>
      {%- endif -%}
      {%- if config.extra.github -%}
      <a href=" {{ config.extra.github }} "><img alt="github" height="32" width="32" src="{{ get_url(path="/imgs/github.svg", trailing_slash=false) }}"></a>
      {%- endif -%}
      {%- if config.extra.mastodon -%}
      <a href=" {{ config.extra.mastodon }}"><img alt="mastodon" height="32" width="32" src="{{ get_url(path="/imgs/mastodon.svg", trailing_slash=false) }}"></a>
      {%- endif -%}
      {%- if config.extra.mail -%}
      <a href="mailto:{{ config.extra.mail }}"><img alt="mail" height="32" width="32" src="{{ get_url(path="/imgs/mail.svg", trailing_slash=false) }}"></a>
      {%- endif -%}
      {%- if config.generate_feed -%}
      <a href="atom.xml"><img alt="RSS" height="32" width="32" src="{{ get_url(path="/imgs/rss.svg", trailing_slash=false) }}"></a>
      {%- endif -%}

    </header>

    <section>

          <br>
        {% for page in section.pages %}
          {{ page.date | date(format="%Y-%m-%d") }}<br>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a><br>
          <br>
        {% endfor %}

    </section>
  </div>

{% endblock content %}
